.rsvp {
  width: 80%;
  margin: auto;
  padding: 5%;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  height: 7vw;
  width: 7vw;
  border-radius: 15px;
  font-size: 2vw;
  text-align: center;
  color: black;
}
.buttons button:hover {
  color: white;
}
.buttons img {
  height: 3.5vw;
  vertical-align: middle;
  margin: auto;
}

.yes {
  background-color: lightgreen;
}
.yes:hover {
  background-color: darkgreen;
}

.yes_selected {
  background-color: darkgreen;
}

.no {
  background-color: salmon;
}
.no:hover {
  background-color: red;
}

.no_selected {
  background-color: red;
}

h1 {
  margin-top: 0;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description textarea {
  background-color: #e0e0e0;
}
